body {
    overflow-x: hidden;
}

h1.site-title,
p.site-title {
    letter-spacing: .05em;
}

.site-title a,
.site-title a:visited {
    color: $color__white;
}

.site-description {
    font-size: 1rem;
    letter-spacing: .05em;
}

.header-image img {
    width: 100%;
    height: auto;
}

.header-image::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(37, 46, 53, 0.7);
}

.header-button {
    letter-spacing: .3125em;
    border-radius: 0;
}

.header-button:hover {
    transition: background 0.2s;
}

.custom-header-image {
    background-position: center center;
    background-size: cover;
    padding: 10% 0;
    position: relative;
}

.wp-custom-header {
    position: relative;
    margin-bottom: 5px;
}

.wp-custom-header iframe {
    width: 100%;
}

.wp-custom-header .wp-custom-header-video-button {
    position: absolute;
    bottom: 1%;
    right: 1%;
    background: $color__red;
    padding: .9375rem 2.5rem;
}

.wp-custom-header .wp-custom-header-video-button:hover {
    background: $color__red;
}

.wp-custom-header .wp-custom-header-video-button:focus {
    outline: 0;
}