.navbar-brand a:hover,
.navbar-brand a:focus {
    opacity: 0.7;
    color: $color__white;
}

.navbar-dark .navbar-nav .dropdown-menu {
    background-color: $color__dark_gray;
}

.navbar-dark .navbar-nav .dropdown-menu .dropdown-item {
    color: $color__white !important;

    &:hover,
    &:focus {
        color: $color__light_gray !important;
        background-color: $color__dark_gray;
    }

    &.active,
    &:active {
        color: $color__light_gray !important;
        background-color: transparent;
    }

    &.disabled,
    &:disabled {
        color: $color__light_gray !important;
        background-color: transparent;
    }
}

.navbar-toggler {
    border: none;
}

.nav-link:visited {
    color: $color__white;
}

#secondary .nav {
    flex-direction: column !important;
}